<%= link_to "Add redirect", "#", id: "show-redirect" %>
<%= link_to "Hide redirect", "#", id: "hide-redirect" %>

<div class="form-group" id="redirect">  
  <%= f.label :redirect_to, "Redirect to" %>
  <%= f.text_field :redirect_to, class: "form-control" %>
</div>
      
      
