<div class="col-xs-2 col-sm-2 col-md-2 col-lg2 wiki-sidebar">
  <aside>

    <div class="sidebar-homelink" %>
      <%= link_to "Home page", pages_path %>
    </div>
    
    <%= link_to "New page", new_page_path, class: "btn btn-success btn-xs" %>
    
    <div>
      <%= raw(@sidebar.formatted_html) %>
      <%= link_to "Edit sidebar", edit_page_path(@sidebar), class: "btn btn-primary btn-xs" %>
    </div>
  </aside>
</div>
