<div class="row">
  <div class="col-xs 12 col-sm-12 col-md-12 col-lg12">
    <h1>Editing "<%= @page.title %>"</h1>

    <% if flash[:error] %>
      <div id="error">
        <%= flash[:error] %>
      </div>
    <% end %>


    <%= render 'form' %>
  </div>
</div>
