<div class="row">
  <div class="col-xs 12 col-sm-12 col-md-12 col-lg12">

    <h1>VSWiki Home Page</h1>

  <%= link_to "Create a new page", new_page_path, class: "btn btn-success" %>

  </div>
</div>
