<% provide(:title, "VSWiki Home Page") %>

<div class="row">
  <%= render "sidebar" %>
  
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg10">
    
    <h1>VSWiki Home Page</h1>
    
  <%= link_to new_page_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-plus text-success"></span> Create a new page
  <% end %>
    
  </div>
</div>
