@import "bootstrap";

.container {
    width: 1000px !important;
}

.sidebar-homelink {
    font-size: 1.5em;
    padding: 10px 0;
}

.formatted-page-content {
    margin: 5px 0px 5px 20px;
}

.wiki-sidebar aside {
    margin: 5px 0;
}
